/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * COLORS
   */

   /* background color */
  --bg-purple: hsla(267, 100%, 63%, 1);
  --bg-purple-alpha-30: hsla(267, 100%, 63%, 0.3);
  --bg-dark-purple: hsla(279, 42%, 9%, 1);
  --bg-oxford-blue: hsla(240, 63%, 13%, 1);
  --bg-oxford-blue-alpha-95: hsla(240, 63%, 13%, 0.95);
  --bg-oxford-blue-alpha-90: hsla(240, 63%, 13%, 0.9);
  --bg-oxford-blue-alpha-80: hsla(240, 63%, 13%, 0.8);


  /* gradient color */
  --gradient-1: linear-gradient(to right bottom, hsl(299, 100%, 52%), hsl(291, 100%, 58%), hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(262, 100%, 63%), hsl(242, 100%, 69%), hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%), hsl(198, 100%, 50%), hsl(192, 100%, 48%), hsl(185, 90%, 48%));
  --gradient-2: linear-gradient(90deg, transparent 0%, #9841ff 50%, transparent 100%);

  /* text color */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-gainsboro: hsla(0, 0%, 87%, 1);
  --text-champagne-pink: hsla(23, 61%, 86%, 1);
  --text-purple: hsla(267, 100%, 63%, 1);

  /* border color */
  --border-space-cadet: hsl(240, 45%, 17%);
  --border-purple-alpha-30: hsla(267, 100%, 63%, 0.3); 

  /**
   * TYPOGRAPHY
   */

  /* font family */
  --fontFamily-bruno-ace: 'Bruno Ace SC', cursive;
  --fontFamily-oxanium: 'Oxanium', cursive;
  

  /* font size */
  --fontSize-1: 3.2rem;
  --fontSize-2: 2.4rem;
  --fontSize-3: 1.8rem;
  --fontSize-4: 1.7rem;
  --fontSize-5: 1.6rem;
  --fontSize-6: 1.5rem;
  --fontSize-7: 1.4rem;
  --fontSize-8: 1.2rem;

  /* font weight */
  --weight-regular: 300;
  --weight-semiBold: 600;
  --weight-bold: 700;

  /**
   * SPACING
   */

  --section-spacing: 60px;

  /**
   * BOX SHADOW
   */

  --shadow: 0px 2px 5px 0px hsla(212, 96%, 50%, 0.979);

  /**
   * BORDER RADIUS
   */

  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-3: 3px;

  /**
   * CLIP PATH
   */

  --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-4: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  --clip-path-5: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
  --clip-path-6: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
  --clip-path-7: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
  --clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);

  /**
   * TRANSITION
   */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: .5s ease-in-out;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);


  /**
  * CARD PROPERTIES
  */

  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
  --card-margin-left: 100px; 



}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
time,
span,
input,
button,
textarea,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none;}

address { font-style: normal; }

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body
{
  background-image: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url("Photos/BG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-gainsboro);
  font-family: var(--fontFamily-bruno-ace), var(--fontFamily-oxanium);
  font-size: var(--fontSize-4);
  font-weight: var(--weight-regular);
  line-height: 1.6;
  overflow-x: hidden;
  background-color: var(--bg-dark-purple);
}


::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background-color: var(--bg-dark-purple); }

::-webkit-scrollbar-thumb { background-color: var(--bg-purple); }


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {padding-inline: 12px;}




/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn
{
  display: none;
}

.header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(45deg,var(--bg-purple),var(--border-purple-alpha-30),var(--bg-dark-purple),var(--bg-oxford-blue),var(--bg-oxford-blue-alpha-95),var(--bg-oxford-blue-alpha-90),var(--bg-oxford-blue-alpha-80));
  border-radius: 3px;
  padding: 10px 12px;
  z-index: 4;
}

.header.active
{
  position: fixed;
  animation: slideUP 1.5s ease forwards;
}

@keyframes slideUP {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle-btn .line {
  height: 3px;
  width: 10px;
  margin-block: 4px;
  background-color: var(--text-gainsboro);
  border-radius: 8px;
  transition: var(--transition-1);
}

.nav-toggle-btn .line-2 { width: 20px; }

.nav-toggle-btn .line-3 { margin-inline-start: auto; }

.nav-toggle-btn.active .line-2 { transform: rotate(-45deg); }

.nav-toggle-btn.active .line-1 { transform: rotate(45deg) translate(4px, 1.5px); }

.nav-toggle-btn.active .line-3 { transform: rotate(45deg) translate(-3px, -1px); }

.navbar {
  position: absolute;
  top: calc(100% - 1px);
  right: 12px;
  left: 12px;
  background-color: var(--bg-oxford-blue);
  padding: 0 15px;
  clip-path: var(--clip-path-1);
  visibility: hidden;
  transition: clip-path 500ms var(--cubic-out);
}

.navbar.active {
  clip-path: var(--clip-path-2);
  visibility: visible;
} 

.navbar-link {
  padding: 12px 25px;
  text-transform: uppercase;
  font-size: var(--fontSize-7);
  font-weight: var(--weight-semiBold);
  color: var(--text-white);
}

.navbar-item { border-block-start: 1px solid var(--border-space-cadet); }

.navbar-item:last-child { border-block-end: 1px solid var(--border-space-cadet); }



.nav-toggle-btn { display: none;}

.navbar,
.navbar.active {
  all: unset;
  display: block;
}

.navbar-item,
.navbar-item:last-child { border: none; }

.navbar-list { display: flex; }

.header .btn {
  display: grid;
  text-align: center;
}

/*-----------------------------------*\
  #CARD PROPERTY
\*-----------------------------------*/


.card
  {
    height: var(--card-height);
    width: var(--card-width);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
    cursor: pointer;

    margin-left: var(--card-margin-left);
  }

  

  .cover-image
    {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
      clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    

    }

    .wrapper
    {
      transition: all 0.5s;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
    

    .wrapper::before,
    .wrapper::after
    {
      content: '';
      opacity: 0;
      width: 100%;
      height: 80px;
      transition: all 0.5s;
      position: absolute;
      left: 0;
    }

    .wrapper::before
    {
      top: 0;
      height: 100%;
      clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
      background-image: linear-gradient(to top,transparent 47%, rgb(12,12,13,0.5) 67%, rgb(12,12,13) 97%);
    }
    

    .wrapper::after
    {
      bottom: 0;
      opacity: 0;
      background-image: linear-gradient(to top,transparent 47%, rgb(12,12,13,0.5) 67%, rgb(12,12,13) 97%);
    }

    .title
    {
      width: 100%;
      transition: transform .5s ;
      
    }
    #title1
    {
      margin-bottom: 36px;
    }
    

    .card:hover .wrapper
    {
      transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
      box-shadow: 0pc 35px 32px -8px rgb(0,0,0,0.75);
      filter: blur(2px);
    }
    
    .card:hover .title
    {
      transform: translate3d(0%, -30%, 100px);
      
    }
    .card:hover #title1
    {
      transform: translate3d(0%, -50px, 100px);
      
    }

    .card:hover .wrapper::before,
    .wrapper::after
    {
      opacity: .5;
    }
    
    .card:hover .wrapper::after
    {
      height: 120px;
    }
    
    .card:hover .wrapper::before
    {
      opacity: 1;
    }
    
    

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

 .footer-top .container {
   display: grid;
   gap: 35px;
 }

 .footer-text { margin-block: 20px 25px; }

  .social-list {
    display: flex;
    gap: 10px;
  }

  .footer .social-link {
    width: 40px;
    height: 40px;
    background-color: var(--bg-purple-alpha-30);
    display: grid;
    place-items: center;
    clip-path: var(--clip-path-8);
    transition: var(--transition-1);
  }

  .footer .social-link:is(:hover, :focus-visible) {
    background-color: var(--bg-purple);
    transform: translateY(-2px);
  }
  
  .footer-list-title {
    font-size: var(--fontSize-3);
    font-weight: var(--weight-semiBold);
    line-height: 1;
    position: relative;
    padding-block-end: 10px;
    margin-block-end: 20px;
    max-width: max-content;
  }

  .footer-list-title::after {
    bottom: 0;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: var(--bg-purple);
  }


  .footer-link {
    padding-block: 5px;
    color: var(--text-white);
    transition: var(--transition-1);
  }
  
  .footer-link:is(:hover, :focus-visible) { color: var(--text-purple); }
  
  .contact-item .span {
    color: var(--text-purple);
    font-size: var(--fontSize-7);
    text-transform: uppercase;
    font-weight: var(--weight-semiBold);
  }
  
  .contact-item:not(:last-child) { margin-block-end: 15px; }
  
  .input-field {
    background-color: var(--bg-oxford-blue-alpha-90);
    color: var(--text-white);
    font-size: var(--fontSize-5);
    padding: 18px 12px;
    box-shadow: var(--shadow);
    border: 2px solid var(--border-purple-alpha-30);
    margin-block-end: 15px;
    outline: none;
  }
  
  .input-field::placeholder { color: var(--text-white); }
  
  .footer-bottom {
    clip-path: var(--clip-path-9);
    background-color: var(--bg-oxford-blue-alpha-80);
  }
  
  .copyright { padding: 30px 20px; }


  .btn {
    position: relative;
    background-image: var(--gradient-1);
    color: var(--text-white);
    font-size: var(--fontSize-6);
    font-weight: var(--weight-semiBold);
    max-width: max-content;
    min-width: 180px;
    height: 50px;
    display: grid;
    place-items: center;
    padding-inline: 30px;
    clip-path: var(--clip-path-3);
    overflow: hidden;
    box-shadow: var(--shadow);
  }

  .btn::before {
    content: "";
    position: absolute;
    top: var(--top, 50%);
    left: var(--left, 50%);
    width: 250%;
    padding-block-end: 250%;
    background-color: var(--bg-purple);
    transform: translate(-50%, -50%) scale(0);
    border-radius: var(--radius-circle);
    z-index: -1;
    transition: transform var(--transition-2);
  }
  
  .btn:is(:hover, :focus-visible)::before { transform: translate(-50%, -50%) scale(1);}





    

/*-----------------------------------*\
  MEDIA QUIRIES
\*-----------------------------------*/

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }



  /**
   * HEADER
   */

  .header .logo img { width: 160px; }




  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: 1fr 1fr; }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * TYPOGRAPHY
     */

    /* font size */
    --fontSize-1: 6.5rem;
    --fontSize-2: 3.2rem;

  }

  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .h1 { line-height: 1; }
 
  

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {
    
    /**
     * TYPOGRAPHY
     */

    /* font size */
    --fontSize-2: 4.5rem;

    /**
     * SPACING
     */

    --section-spacing: 100px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  .h2 { line-height: 1.1; }

  .card
  {
    margin-bottom: 90px;
  }


  /**
   * HEADER
   */

  .nav-toggle-btn { display: none; }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
  }

  .navbar-item,
  .navbar-item:last-child { border: none; }

  .navbar-list { display: flex; }

  .header .btn {
    display: grid;
    text-align: center;
  }




  /**
   * FOOTER
   */
   
  .footer-top .container { grid-template-columns: repeat(4, 1fr); }

}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 1140px; }

  .section-text { margin-block-end: 60px; }


  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: 1f 0.5fr 0.5fr 1fr; }

  .footer .logo img { width: 205px; }

  .card
  {
    margin: 40px;
    display: grid;
    height: var(--card-height);
    width: var(--card-width);
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 90px;
    cursor: pointer;
    margin-bottom: 30px;
  }

}